@echo off
echo Importing SQL file into MySQL using XAMPP...

rem Đường dẫn đến lệnh mysql của XAMPP
set MYSQL="C:\xampp\mysql\bin\mysql.exe"

rem Thông tin đăng nhập MySQL
set DB_USER=root
set DB_PASSWORD=""
set DB_HOST=localhost
set DB_NAME=wordpress_631

rem Đường dẫn đến tệp SQL bạn muốn nhập
set SQL_FILE=C:\xampp\htdocs\wordpress\wordpress_631.sql

rem Sử dụng lệnh mysql để nhập tệp SQL vào MySQL
%MYSQL% -u%DB_USER% -p%DB_PASSWORD% -h%DB_HOST% %DB_NAME% < %SQL_FILE%

echo SQL file import completed.
pause
